@model IEnumerable<Product.Service.Models.Product>
@{
    ViewData["Title"] = "Products";
}
<h1>@ViewData["Title"]</h1>

<div class="card-deck" style="justify-content: center">
    @foreach (var item in Model)
    {
        <div class="card" style="min-width: 250px; max-width: 250px; margin:5px;">
            <img class="card-img-top" src="@item.ImageUrl" alt="@item.Name" style="height:230px;">
            <div class="card-body text-center">
                <h4 class="card-title">@item.Name</h4>
                <p class="card-text">@item.Price SEK</p>
                <a href="#" class="btn btn-primary">Go to product</a>
            </div>
        </div>
    }
</div>

@*NOTE: LOOK AT WHY MODEL IS CURRENTLY NOT WORKING*@