@model Group1.Web.Models.Product

@{
    ViewData["Title"] = "Details";
}
<center>
    <h1>Details</h1>
    <hr />
    <div>
        <h4>@Model.Name</h4>
        <img class="card-img-top" src="@Model.ImageUrl" alt="@Model.Name" style="width:300px;"><br />
        <b>Price: </b>@Model.Price SEK<br />
        <b>Description: </b>@Model.Description<br />

    </div>
    <div>
        <br />
        <input value="Add to cart" type="submit" asp-action="AddToCart" asp-controller="Shoppingcart" asp-route-productid="@Model.Id" class="btn btn-dark" /><br />
        <br />
        <a class="text-muted" asp-controller="Product" asp-action="GetAllProducts">Back to list</a>
    </div>
</center>