@model IEnumerable<Group1.Web.Models.Order>

@{
    ViewData["Title"] = "GetAllOrder";
}

<h1>GetAllOrder</h1>


    <form method="post" asp-action="CreateOrder" asp-controller="UpdateDeliveryStatus">
<table class="table">
    <thead>
        <tr>
            <th>
                <p>OrderId</p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deliverd)
            </th>
        </tr>
    </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                        @Html.HiddenFor(i => item.Id)
                    </td>
                    <td>
                        <div>
                            @Html.DropDownListFor(d => item.Deliverd, (IEnumerable<SelectListItem>) ViewData["DeliveryStatus"])
                        </div>
                    </td>

                    <td>
                        <input type="submit" value="Update" class="btn btn-primary" asp-action="UpdateDeliveryStatus" asp-controller="Order" asp-route-orderId="" />
                        <input type="submit" value="Delete" class="btn btn-danger" asp-action="DeleteOrder" asp-controller="Order" asp-route-orderId="@item.Id" />
                    </td>
                </tr>
            }
    </tbody>
</table>
    </form>
